@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-sans: "Inter", Arial, Helvetica, sans-serif;
    --font-mono: monospace;
  }
}

p {
  font-family: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

header,
footer {
  padding: 3%;
}

.paper-curve:hover {
  transform: translateY(-4px) rotate(0.5deg) !important;
  box-shadow: 0 35px 70px -12px rgba(0, 0, 0, 0.3),
    0 0 0 1px rgba(255, 255, 255, 0.9) inset !important;
}

.paper-curve:hover > div:first-child > div {
  width: 100px !important;
  height: 100px !important;
  border-radius: 0 24px 0 100px !important;
}
